/* universal */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common class */
.container{
    max-width: 1460px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
section img{
   height: 100%;
   width: 100%;
   object-fit: cover; 
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    width: 289px;
    height: 39px;
    display: block; 
}
h1,.heading-1{
    font-size: 72px ;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h2,.heading-2{
    font-size: 60px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h3,.heading-3{
    font-size: 50px ;
    font-weight: 400;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h4,.heading-4{
    font-size: 40px ;
    font-weight: 300;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h5,.heading-5{
    font-size: 30px ;
    font-weight: 300;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h6,.heading-6{
    font-size: 20px ;
    font-weight: 200;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
p{
    font-size: 16px ;
    font-weight: 100;
    color: #000000;
    margin: 0 0 20px;
    line-height: 1.2 ;
    text-transform: capitalize;
}

.nav-links li a{
    display:block;
    text-transform: capitalize;
    color:#363636;
}
.cmn-btn{
    display: inline-block;
    padding: 20px 40px;
    border-radius: 50px;
    background : transparent;
    color:black;
    border : 1px solid;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    
}
.cmn-gap{
    padding: 0 0;
}
/* navbar starts */
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-links{
    display: flex;
    margin-left: auto;
}
.nav-links li{
    margin: 0 20px 0 0 ;
}
.header .container{
    max-width: 1460px;
}
.hero{
    min-height:100vh;
    background: url(../immage/banner\ imo.gif);
    display: flex;
    align-items:center;
    background-position: center;
    background-size:cover;
}
.hero h1{
    font-size:48px;
    font-weight:700;
    margin-bottom:20px;
    line-height:1.2;
}

.hero-content p{
    font-size:16px;
    margin-bottom:30px;
    opacity:0.9;
    color: #fff;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.btn-primary{
    background:#fff;
    border: 1px solid black;
    color:#000;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
}


.btn-outline{
   border: 1px solid #fff;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.overview{
    padding:100px 0;
    text-align:center;
    background:#f5f5f5;
}

.overview h2{
    font-size:36px;
    margin-bottom:20px;
    color: #000;
}

.overview p{
    max-width:700px;
    margin:auto;
    color:#555;
    font-size:15px;
    line-height:1.6;
}
.cmn-gap{
    padding: 20px 0;
}
.card-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cmn-card{
    width: 33.33%;
    position: relative;
    overflow: hidden;
}
.card-child img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.card-text{
    position: absolute;
    width: 100%;
    bottom: 0;
    /* left: 0; */
    padding: 30px;
    background:  linear-gradient(
        to top,
        rgba(0,0,0,0.8),
        transparent
    );
}
.card span{
    letter-spacing: 5px;
}
.card h3{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.card-child p{
    color: #ffffff;
    font-weight: 0;
    margin-bottom: 0;
}
.about{
    background: linear-gradient(
        to top,
        rgba(237, 234, 255, 1),
        rgba(241, 241, 225, 0.3)
    );
}
.about-child{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -43px ;
}
.left,.right{
    width: 50%;
    padding: 0 43px ;
}
.right{
    display: flex;
    align-items: center;
    color: #000;
}
.inner-text{
    /* height: 497px;
    width: 470px; */
    max-width: 500px;
} 
.span-text{
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: block;
    margin-bottom: 10px ;
}
.right h2{
    font-weight: 700;
    text-transform: capitalize;
}
.right p{
    text-transform: capitalize;
}
.abt-btn{
    font-weight: 300;
    border-radius: 60px;
}
.abt-btn:hover{
    background-color: #000000;
    color: #ffffff;
}

